#logo-100{
    display: none;
}

#logo-200{
    display: none;
}

#logo-250{
    display: block;
}

#nombres-novios{
    font-size: 7rem;
}

#encabezado{
    padding-top: 10rem;
}


.cursiva-principal{
    font-size: 8rem;
}
