@import url('https://fonts.googleapis.com/css2?family=Allura&display=swap');/*Nombres de los novios*/
@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:ital,wght@0,100..700;1,100..700&display=swap');/*Títulos*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');/*Texto general*/
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');/*Cursiva para otros detalles*/

:root{
    --fuente_titulos: "Josefin Slab", serif; 
    --fuente_texto_general: "Open Sans", sans-serif; 
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
}

html{
    font-size: 62.5%;
}

body{
    position: relative;
    background-color: #FFFFFF;
}

main, footer{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

main{
    max-width: 1600px;
    position: relative;
    padding-top: 5rem;
}

footer{
    padding: 2rem 0;
    margin-top: 15rem;
    gap: 1rem;
    background-color: #EDE8E3;
}

.seccion{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.main__fixedImage{
    width: 25%;
    position: fixed;
    z-index: 100;
}

.main__fixedImage__left{
    top: 0;
    left: 0;
}

.main__fixedImage__right{
    top: 27rem;
    right: 0;
}

.presentacion__logoNovios{
    width: 12rem;
}

.presentacion__nombresNovios{
    margin-top: 2.5rem;
    font-family: "Great Vibes", cursive;
    font-size: 4rem;
    font-weight: 400;
    font-style: normal;
    word-spacing: 1rem;
}

.presentacion__reproductorDeAudio{
    margin-top: 2.5rem;
    width: 21rem;
    height: 3rem;
}

.presentacion__imagenPrincipal{
    width: 100%;
    margin-top: 2.5rem;
}

.detalles__citaBiblica{
    width: 100%;
    margin-top: 10rem;
    padding: 2rem 1.5rem;
    background-color: #EDE8E3;
    font-family: var(--fuente_texto_general);
    font-optical-sizing: auto;
    text-align: center;
    color: #413F2F;
}

.detalles__citaBiblica__versiculo{
    font-weight: 100;
    font-style: italic;
    font-size: 1.6rem;
}

.detalles__citaBiblica__cita{
    display: inline-block;
    margin-top: 2rem;
    font-weight: 400;
    font-style: normal;
    font-size: 1.4rem;
}

.detalles__iconoImagen, .informacion__iconoImagen{
    width: 8rem;
    margin-top: 12rem;
}

h2{
    margin-top: 3rem;
    font-family: var(--fuente_titulos);
    font-size: 2.5rem;
    text-align: center;
    font-style: italic;
    font-weight: 600;
}

.detalles__bendicion{
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
}

.detalles__bendicion__padresNovia, .detalles__bendicion__padresNovio{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: var(--fuente_texto_general);
    font-size: 2rem;
    font-style: normal;
    font-weight: 100;
}

.detalles__bendicion__padresNovia .detalles__bendicion__novia, .detalles__bendicion__padresNovio .detalles__bendicion__novio{
    font-size: 1.6rem;
}

.detalles__bendicion__cruzPostuma{
    width: 1.5rem;
}

.detalles_nosCasamos{
    margin-top: 10rem;
    font-family: var(--fuente_titulos);
    font-size: 3rem;
    font-style: italic;
    font-weight: 600;
}

/* .detalles__fechaLugar__fecha{
    margin-top: 3rem;
}


.detalles__fechaLugar__fecha, .detalles__fechaLugar__lugar{
    font-family: var(--fuente_texto_general);
    font-size: 2rem;
    line-height: 3.5rem;
    font-style: normal;
    font-weight: 100;
} */

.temporal_mostrarModelosFechas{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8rem;
}

.detalles__fechaLugar__modelo1, .detalles__fechaLugar__modelo2,.detalles__fechaLugar__modelo3{
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* .detalles__fechaLugar__modelo1{
    display: none;
} 

.detalles__fechaLugar__modelo2{
    display: none;
}  */

.detalles__fechaLugar__modelo1_diaSemana, .detalles__fechaLugar__modelo1_diaMes, .detalles__fechaLugar__modelo1_mes, .detalles__fechaLugar__modelo1_anio{
    display: flex;
    margin: 0;
}

.detalles__fechaLugar__modelo1_diaSemana{
    font-size: 3rem;
    font-family: var(--fuente_texto_general);
    font-weight: 400;
    height: 3rem;
    /* margin-bottom: 2rem; */
}

.detalles__fechaLugar__modelo1_diaMes{
    font-size: 8rem;
    font-weight: 600;
    font-family:  var(--fuente_texto_general);
    font-style: normal;
    height: 8rem;
}

.detalles__fechaLugar__modelo1_anio{
    font-size: 2rem;
    font-weight: 600;
    font-family:  var(--fuente_texto_general);
    font-style: normal;
    margin-top: 1rem;
}

.detalles__fechaLugar__modelo1_mes{
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 5rem;
  height: 5rem;
  margin-top: 1rem;
}

.detalles__fechaLugar__modelo1_lineaHorizontalSuperior, .detalles__fechaLugar__modelo1_lineaHorizontalInferior{
    width: 13rem;
    height: 0.2rem;
    background-color: #333333;
}   

.detalles__fechaLugar__modelo1_lineaHorizontalSuperior{
    margin-bottom: 1rem;
}

.detalles__fechaLugar__modelo1_lineaHorizontalInferior{
    margin-top: 1rem;
}

.detalles__fechaLugar__modelo2_info{
    display: flex;
    gap: 1rem;
    justify-content: baseline;
    align-items: center;
    font-family: var(--fuente_texto_general);
    font-size: 4rem;

}

.detalles__fechaLugar__modelo2_mes{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.2rem;
    /* letter-spacing: 1rem; */
    text-align: center;
}

.detalles__fechaLugar__modelo2_diaSemana, .detalles__fechaLugar__modelo2_anio{
    border-top: 2px solid #ccc;
    border-bottom: 2px solid #ccc ;
    width: 10rem;
    font-size: 2.2rem;
    text-align: center;
    padding: 1.3rem 0;
}

.detalles__fechaLugar__modelo2_diaMes{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.detalles__fechaLugar__modelo3{
    gap: 1rem;
}

.detalles__fechaLugar__modelo3_diaSemana, .detalles__fechaLugar__modelo3_diaMes, .detalles__fechaLugar__modelo3_mes, .detalles__fechaLugar__modelo3_anio{
    display: flex;
    margin: 0;
}

.detalles__fechaLugar__modelo3_diaSemana{
    font-size: 4rem;
    font-family: var(--fuente_titulos);
    font-weight: 600;
    line-height: 3rem;
    height: 3rem;
}

.detalles__fechaLugar__modelo3_mes{
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 5rem;
    height: 5rem;
    /* margin-top: 1rem; */
}

.detalles__fechaLugar__modelo3_diaMes{
    font-size: 10rem;
    font-family: var(--fuente_titulos);
    font-weight: 600;
    line-height: 8rem;
    height: 6rem;
}

.detalles__fechaLugar__modelo3_anio{
    font-family: var(--fuente_titulos);
    font-size: 2.5rem;
    letter-spacing: 1.5rem; 
    font-weight: 600;
}

.detalles__fechaLugar__modelo3_anio::before{
    content: '';
    width: 1.5rem;
}

.detalles__cuentaRegresiva{
    display: flex;
    flex-direction: column;
    width: 31rem;
    padding: 1rem 2rem;
    gap: 1rem;
    border-radius: 10px;
    margin-top: 1rem;
    background-color: #9DBEA5;
    font-family: Arial, Helvetica, sans-serif;
}

.detalles__cuentaRegresiva__faltan{
    font-family: var(--fuente_titulos);
    font-size: 2.2rem;
    margin-top: 5rem;
    font-weight: 600;
}

.detalles__cuentaRegresiva__tiempo, .detalles__cuentaRegresiva__descripcion{
    display: flex;
    justify-content: space-between;
}

.detalles__cuentaRegresiva__tiempo{
    display: flex;
    align-items: center;
    font-size: 2rem;
    font-weight: 500;
}

.detalles__cuentaRegresiva__descripcion{
    font-size: 1.3rem;
    font-weight: 100;
    color: #fff;
}

.detalles__cuentaRegresiva__tiempo .tiempo{
    background-color: #DCE8D4;
    width: 4.5rem;
    height: 4.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    color: #4A6A59;
}

.detalles__cuentaRegresiva__item{
    width: 4.5rem;
    text-align: center;
}

.detalles__cuentaRegresiva__relleno{
    color: #9DBEA5;
}

.detalles__slider{
    width: 100%;
    max-width: 80rem;
    position: relative;
    overflow: hidden;
    margin-top: 10rem;
}

.detalles__slider__flecha{
    position: absolute;
    width: 4rem;
    top: calc(50% - 2rem);
    z-index: 200;
}

#detalles__slider__flechaAvanzar{
    right: 2rem;
    transform: rotate(180deg);
}

#detalles__slider__flechaRetroceder{
    left: 2rem;
}

.detalles__slider__foto{
    width: 100%;
}

.informacion__momentos{
    width: 100%;
    max-width: 80rem;
    display: flex;
    flex-direction: column;
    position: relative;
}

.informacion__momentos__ceremonia, .informacion__momentos__celebracion{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.informacion__momentos__frase{
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 0 1.5rem;
    position: absolute;
    top: 5rem;
    left: 0;
    font-family: var(--fuente_texto_general);
    font-style: italic;
    font-size: 2rem;
    font-weight: 200;
}

.informacion__momentos__frase span{
    width: 100%;
    max-width: 50rem;
    text-align: center;
    
}

#informacion__momentos{
    margin-top: 10rem;
}

.informacion__momentos span, .informacion__vestimenta span{
    font-family: var(--fuente_texto_general);
    font-size: 1.6rem;
    font-weight: 200;
    text-align: center;
}

.informacion__momentos__verUbicacion{
    text-decoration: none;
    display: block;
    background-color: #333333;
    padding: 1rem 2rem;
    border-radius: 5px;
    margin-top: 3rem;
    transition: all 0.3s;
    font-size: 2rem;
    color: #fff;
}

.informacion__regalos{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 38rem;
    margin-top: 15rem;
    padding: 3rem;
    border-radius: 10px;
    background-color: #EDE8E3;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.informacion__regalos p{
    text-align: center;
    margin-top: 3rem;
    font-family: var(--fuente_texto_general);
    font-style: italic;
    font-size: 1.6rem;
    color: #413F2F;
}

.regalos__iconoImagen{
    width: 8rem;
    
}

.informacion__vestimenta{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10rem;
}

.informacion_vestimenta_ideas{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: 2rem;
}

.informacion_vestimenta_ideas a{
    display: inline-flex;
    flex-direction: column;
    font-size: 1.6rem;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    background-color: #EDE8E3;
    color: #413F2F;
    text-decoration: none;
    border-radius: 10px;
}

.informacion_vestimenta_ideas a img{
    width: 15rem;
    margin-top: 1rem;
}

.informacion_vestimenta_ellas, .informacion_vestimenta_ellos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#informacion__asistencia{
    width: 100%;
    height: 100%;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #FFFFFF;
}

#informacion__asistencia__preparacion{
    max-width: 80rem;
    font-family: var(--fuente_titulos);
    font-size: 2.2rem;
    text-align: center;
    padding: 5rem;
}

#texto_confirmacion{
    display: inline-flex;
    width: 100%;
    padding: 0 2rem;
    margin-bottom: 3rem;
    font-family: var(--fuente_texto_general);
    font-size: 1.8rem;
    font-weight: 200;
    font-style: italic;
    text-align: center;
}

#formulario_botones{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-top: 2rem;
    gap: 2rem;
}


.informacion__asistencia{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

#asistencia__datos{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    padding: 1.5rem 2rem;
    font-size: 1.4rem;
    gap: 1.5rem;
    font-family: var(--fuente_texto_general);
    background-color: rgba(255, 192, 203, 0.4);
    border-radius: 5px 5px 0 0;
}

#asistencia__datos__encabezado{
    font-family: var(--fuente_titulos);
    font-size: 2.4rem;
}

.nombreInvitado{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 22rem;
    height: 1.8rem;
    padding: 0.2rem 1rem 0 0;
    overflow: hidden;
    font-size: 1.4rem;
    user-select: none;
    pointer-events: none;
    cursor: not-allowed;
    background-color: rgba(255, 192, 203, 0.1);
}

.invitados{
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: red; */
}

.informacion__asistencia__formulario{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 38rem;
    gap: 0.5rem;
    margin-top: 3rem;
}

.informacion__asistencia__formulario select, .informacion__asistencia__formulario input[type="tel"]{
    width: 100%;
    padding: 1rem;
    border-radius: 5px;
    background-color: #EDE8E3;
    font-size: 1.4rem;
    font-family: var(--fuente_texto_general);
    
}

textarea{
    resize: none;
    width: 100%;
    height: 15rem;
    padding: 1rem;
    border-radius: 5px;
    background-color: #EDE8E3;
    font-size: 1.4rem;
    font-family: var(--fuente_texto_general);
}

.informacion__asistencia input[type="submit"],
#cancelarEnvio{
    width: 18.8rem;
    height: 4.2rem;
    background-color: #333333;
    font-family: var(--fuente_texto_general);
    font-size: 1.6rem;
    font-weight: 600;
    color: #FFFFFF;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s;
}

#cancelarEnvio{
    width: 18.8rem;
    height: 4.2rem;
    background-color: #FFC0CB;
    font-family: var(--fuente_texto_general);
    font-size: 1.6rem;
    color: #333333;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s;
}

#informacion__contenedor__agradecimiento{
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(51, 51, 51, 0.5);
        
}

#informacion__asistencia__agradecimiento{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    width: 35rem;
    height: auto;
    padding: 2rem 0;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-size: 1.6rem;
    font-family: var(--fuente_texto_general);
    font-weight: 100;
    z-index: 400;
    
}

#informacion__asistencia__respuesta{
    text-align: center;
}

#acceptButton, #confirmButtom{
    padding: 1rem 2rem;
    border-radius: 10px;
    background-color: #333333;
    color: #FFFFFF;
    cursor: pointer;
    transition: all 0.3s;
}

.loader {
    display: none;
    position: fixed;
    top: 50%;
    left: calc(50% - 30px);
    border: 8px solid #f3f3f3; /* Color de fondo */
    border-top: 8px solid #3498db; /* Color de la parte giratoria */
    border-radius: 50%; /* Hace que el div sea un círculo */
    width: 6rem;
    height: 6rem;
    animation: spin 1s linear infinite; /* Animación de giro */
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

.footer__iconos{
    width: 3.2rem;
}

.footer__links{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.footer__desarrollador, .footer__web{
    font-family: var(--fuente_texto_general);
    font-size: 1.6rem;
}

.footer__trabajos{
    font-family: var(--fuente_texto_general);
    font-size: 1.2rem;
}

#link_fotos{
    position: fixed;
    bottom: 0;
    left: 0;
    display: none;/*ocultar cuando se active el setInterval que llama la función para mostrar el elemento*/
    width: 100%;
    height: auto;
    background-color: #333333;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    font-family: var(--fuente_texto_general);
    font-size: 2rem;
    text-align: center;
    color: #FFFFFF;
    gap: 2rem;
    z-index: 300;
}

.upload_img{
    width: 5rem;
    position: absolute;
    top: -4rem;
    left: 50% - 2.5rem;
    
}

th, td{
    border: 2px solid #333;
    padding: 0.5rem;
}

table{
    border-collapse: collapse;
    font-size: 1.5rem;
}


