*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    background-color: #FFFFFF;
}

main, footer{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

main{
    max-width: 1600px;
    position: relative;
}

.seccion{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.main__fixedImage{
    width: 25%;
    position: fixed;
    z-index: 100;
}

.main__fixedImage__left{
    top: 0;
    left: 0;
}

.main__fixedImage__right{
    top: 270px;
    right: 0;
}
