main{
    padding-top: 10rem;
}

.main__fixedImage{
    width: 20%;
}

.main__fixedImage__right{
    top: 45rem;
}

.presentacion__logoNovios{
    width: 22rem;
}

.presentacion__nombresNovios{
    margin-top: 5rem;
    font-size: 6rem;
}

.presentacion__reproductorDeAudio{
    margin-top: 5rem;
    width: 30rem;
    height: 5rem;
}

.presentacion__imagenPrincipal{
    max-width: 80rem;
    width: 100%;
    margin-top: 10rem;
}

.detalles__citaBiblica{
    padding-left: 20rem;
    padding-right: 20rem;
}

.detalles__iconoImagen, .informacion__iconoImagen{
    width: 12rem;
}

.detalles__bendicion{
    gap: 15rem;
}

.detalles_nosCasamos{
    font-size: 5rem;
}

.detalles__slider{
    width: 100%;
}

.informacion__momentos span{
    font-size: 2rem;
}

.informacion__momentos{
    gap: 10rem;
}

.informacion__asistencia input[type="submit"]:hover, #acceptButton:hover, .informacion__momentos__verUbicacion:hover, #cancelarEnvio:hover, #confirmButtom:hover{
    opacity: 0.9;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.temporal_mostrarModelosFechas{
    flex-direction: row;
}

#formulario_botones{
    flex-direction: row;
}

.informacion_vestimenta_ideas{
    gap: 10rem;
}

#texto_confirmacion{
    padding: 0 15rem;
}









