main{
    padding-top: 7rem;
}

.main__fixedImage{
    width: 22%;
}

.main__fixedImage__right{
    top: 34rem;
}

.presentacion__logoNovios{
    width: 14rem;
}

.presentacion__nombresNovios{
    margin-top: 3.5rem;
    font-size: 5rem;
}

.presentacion__reproductorDeAudio{
    margin-top: 3.5rem;
    width: 25rem;
    height: 4.5rem;
}

.presentacion__imagenPrincipal{
    width: 80%;
    margin-top: 3.5rem;
}

.detalles__citaBiblica{
    padding-left: 10rem;
    padding-right: 10rem;
}

.detalles__iconoImagen, .informacion__iconoImagen{
    width: 10rem;
}

.detalles__bendicion{
    flex-direction: row;
    gap: 7rem;
}

.detalles_nosCasamos{
    font-size: 4rem;
}

.detalles__slider{
    width: 80%;
}

