main{
    padding-top: 7rem;
}

.main__fixedImage{
    width: 22%;
}

.main__fixedImage__right{
    bottom: 6rem;
}

.presentacion__logoNovios{
    width: 14rem;
}

.presentacion__nombresNovios{
    margin-top: 3.5rem;
    font-size: 5rem;
}

.presentacion__reproductorDeAudio{
    margin-top: 3.5rem;
    width: 25rem;
    height: 4.5rem;
}

.presentacion__imagenPrincipal{
    width: 80%;
    margin-top: 3.5rem;
}

.detalles__citaBiblica{
    padding-left: 10rem;
    padding-right: 10rem;
}

.detalles__iconoImagen, .informacion__iconoImagen{
    width: 10rem;
}

.detalles__bendicion{
    flex-direction: row;
    gap: 7rem;
}

.detalles_nosCasamos{
    font-size: 4rem;
}

.detalles__slider{
    width: 80%;
}

.informacion__momentos h2{
    font-size: 3rem;
}

.informacion__momentos{
    flex-direction: row;
    gap: 6rem;
}

.informacion__momentos .informacion__momentos__lugar{
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.informacion__momentos__ceremonia, .informacion__momentos__celebracion{
    width: 50%;
}

.informacion__regalos, .informacion__asistencia__formulario{
    max-width: 50rem;
}

.informacion__asistencia .asistencia__datos{
    flex-direction: row;
}

.informacion__asistencia__formulario input[type="text"],
.informacion__asistencia__formulario input[type="tel"]{
    width: 100%;
}

#Nombre{
    text-align: center;
}

#formulario_botones{
    flex-direction: column;
}

.informacion_vestimenta_ideas{
    gap: 5rem;
}

#texto_confirmacion{
    max-width: 80rem;
}

#informacion__asistencia__preparacion{
    max-width: 50rem;
}

#tabla_confirmados .confirmadosTelefono, #tabla_confirmados .thTelefono{
    display: table-cell;
}

#main_confirmaciones{
    padding-left: 3rem;
    padding-right: 3rem;
}

.nombreInvitado{
    margin-right: 3rem;
}

#asistencia__datos{
    padding-right: 7rem;
}
